body {
    background-color: beige;
}

.header {
    text-align: center;
    border-bottom: dotted;
    width: 500px;
}

.input {
    margin: 15px;
}

input {
    width: 175px;
    text-align: center;
}

button {
    color: white;
    background-color: blue;
    padding: 5px;
    
}

button:active {
    background-color: red;
}